* {
  font-family: 'Roboto', sans-serif;
}

fieldset {
  margin: 0 0 16px 0;
  padding: 0 24px 0 14px;
  border: 1px solid grey;
  border-radius: 4px;
  position: relative;

  legend {
    position: absolute;
    margin: 0;
    padding: 0 4px 0 4px;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
    transition: all .25s;

    &.active {
      top: 0;
      font-size: 75%;
      color: grey;
    }
  }

  input {
    margin: 8px 0 16px 0;
    padding: 0;
    height: 24px;
    width: 100%;
    outline: none;
    border: none;
  }
}